
.list h5{
	margin: 0;
}

.img-fluid{
	max-width: 100%;
	display: block;
}
.coffee .card-header{
	padding: 0;
}

.card.menu{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}
.bg-breakfast{
	background-image: url(../img/bg-breakfast.jpg);
}
.overlay{
	background-color: rgba(0,0,0,0.70);
}
.menu .card-content{
	padding: 35px 0;
}
.menu h4{
	margin: 0;
	font-size: 20px;
}
.menu p{
	margin: 0;
	font-size: 12px;
}
.menu a{
	color: #fff;
}
.bg-coffee{
	background-image: url(../img/bg-beans.jpg);
}
.bg-lunch{
	background-image: url(../img/bg-lunch.jpg);
}
.bg-cookies{
	background-image: url(../img/bg-cookies.jpg);
}

.menus .card-content {
	padding: 10px;
	text-align: center;
}
.menus h3{
	font-size: 14px;
	color: #2d2d2d;
	margin-bottom: 0;
}
.menus h4{
	font-size: 12px;
	color: #555;
}
.menus p{
	font-size: 12px;
	color: #0C9F67;
	font-weight: 600;
}

.product{
	color: #2d2d2d;
	font-size: 16px;
	font-weight: 600;
}
.price{
	color: #0C9F67;
	font-size: 16px;
	font-weight: 600;
}
.button-green{
	background-color: #0C9F67 !important;
}

.img-fluid{
	width: 1500px;
}

.robin{
	border-radius: 100%;
}

.tart{
	color: #0D50BA;
	font-weight:bold;
}

.sall{
	color: dimgray;
}

.trart{
	border-radius: 100%;
}

.name{
	color: #000;
	font-weight: bold;
	text-align: center;
}

.songs{
	text-align: center;
}

.ac{
	align-content: center;
}

.bg-artist{
	background-image: url("../img/header/Bad-Bunny.jpg");
	padding: 40% 0;
}

.bb-1{
	width: 100px;
	height: auto;
	border-radius: 100%;
}

.playlist-img{
	width: 200px;
	height: auto;
	border-radius: 20px;
}
.bg-playlist {
	background-color:#EBAED0;
	padding: 50px;
}
.pli{
	color: dimgray;
}

.pli h4{
	font-size: 8px;
}
.pli5{
	font-size: 8px;
}

.dona{
	font-size: 14px;
	font-weight: bold;
}
.bio{
	font-size: 10px;
	font-weight: 200;
}

.bm{
	color: blue;
}